.best-trips__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.best-trips__text-wrapper {
  width: 20%;
}

.best-trips__description {
  font-family: "Poppins";
  color: @grey;
}

.best-trips__link {
  &--booking {
    width: 70%;
  }
}

.best-trips__cities {
  position: absolute;
  top: -80px;
  right: 0;
  display: flex;
  justify-content: space-between;
  width: 75%;
  z-index: 10;
}

.best-trips__card {
  width: 30%;
  heigth: 520px;
  border-radius: 20px;
}

.best-trips__frame {
  width: 100%;
  height: 400px;
  background-position: center;
  border-radius: 5px 5px 0 0;

  &--london {
    background-image: url("../img/london.jpg");
  }

  &--dubai {
    background-image: url("../img/dubai.jpg");
  }

  &--bern {
    background-image: url("../img/switzerland.jpg");
  }

}
