.best-trips__wrapper {
  display: flex;
  justify-content: space-between;
}

.best-trips__text-wrapper {
  width: 20%;
}

.best-trips__description {
  font-family: "Poppins";
  color: @grey;
}

.best-trips__link {
  &--booking {
    width: 70%;
  }
}

.best-trips__cities {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.best-trips__card {
  width: 30%;
  heigth: 520px;
  outline: 1px solid @black;
}
