.best-countries__header {
  text-align: center;
}

.best-countries__description {
  font-family: "Poppins";
  color: @grey;
}

.best-countries__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.best-countries__item {
  width: ~"calc(50% - 15px)";
}
