.memorial {
  position: relative;
  background-image: url("../img/photo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 500px;
  padding-bottom: 500px;
}

.memorial__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: @blue;
  opacity: 0.4;
}

.memorial__decor {
  position: absolute;
  bottom: -100px;
  left: 0;
  background-image: url("../img/video_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.memorial__video-tour {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 10;
}

.memorial__btn {
  width: 120px;
  height: 120px;
  background: transparent;
  background-image: url("../img/play_btn.png");
  background-repeat: no-repeat;
  border: none;
  margin-right: 20px;

  &:hover {
    opacity: 0.5;
  }

  &:active {
    opacity: 1;
  }
}

.memorial__title {
  font-family: "Poppins";
  font-size: 48px;
  color: @white;
}
