.page-header {
  position: relative;
  height: 980px;
}

.page-header__wrapper {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 10;
}

.page-header__content-wrapper {
  display: flex;
  justify-content: space-between;
}

.page-header__logo {
  display: flex;
}

.page-header__img {
  align-self: center;
  width: 50px;
  height: 39px;
  margin-right: 5px;
}

.page-header__link {
  width: 150px;
}

.page-header__text {
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 14px;
}

.page-header__new-line {
  display: block;
  font-weight: normal;
  font-size: 10px;
}
