.tour-list {
  .list();

  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.tour-list__item {
  position: relative;
  width: ~"calc(20% - 30px)";
  background-color: @white;
  border-radius: 5px;
  overflow: hidden;
}

.tour-list__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  z-index: 20;
  display: none;

  &--not-active {
    display: block;
    background-color: @white;
    opacity: 0.6;
  }
}

.tour-list__transport {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 14px;
  font-weight: bold;
  color: @white;
  background-color: @blue;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 25px;
  padding-left: 35px;
  z-index: 15;

  &::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
  }

  &--air {
    &::before {
      top: 25%;
      left: 20px;
      background-image: url("../img/airplane.png");
    }
  }

  &--road {
    &::before {
      top: 8px;
      left: 17px;
      background-image: url("../img/road.png");
    }
  }
}

.tour-list__img-wrapper {
  position: relative;
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.tour-list__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  max-width: 100vw;
}

.tour-list__wrapper {
  padding: 5px;
  border-bottom: 1px solid @grey-border;
}

.tour-list__top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-list__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-list__title {
  position: relative;
  font-size: 18px;
  font-weight: bold;
}

.tour-list__text {
  font-family: "Poppins";
  font-size: 14px;
  color: @grey;
}

.tour-list__price {
  text-align: right;
}

.tour-list__full-price {
  font-size: 14px;
  color: @rose;
  margin: 0;
  padding: 0;
}

.tour-list__lower-price {
  font-size: 22px;
  font-weight: bold;
  color: @blue;
  margin: 0;
  padding: 0;
}

.tour-list__duration {
  flex-shrink: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

.tour-list__asteriks {
  color: @rose;
}

.tour-list__days,
.tour-list__nights {
  margin: 0;
  padding: 0;
}

.tour-list__rating-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
}

.tour-list__left-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tour-list__link {
  font-size: 14px;
  text-transform: capitalize;
  font-weight: normal;
  width: 30%;
}
